.App {
  text-align: center;
}

.App-logo {
  height: 500px;
}

.App-intro {
  font-size: large;
}

.form {
  margin-top: 30px;
}
.buttonSave {
  margin-top: 5px;
  padding: 0 15% !important;
}

.goToButton {
  margin-top: 15px;
  padding: 0 15% !important;
}